<div class="header">
    <h2 class="h2">喵之趣</h2>
    <div class="ing">
        <img style="width: 50px;height:50px;border-radius: 25px;" src="/assets/img/lpz.jpg" alt="">
        <img style="width: 50px;height:50px;border-radius: 25px;margin-left: 5px;" src="/assets/img/axm.jpg" alt="">
        <h6 style="text-align: center;">路大胖和奥小咪</h6>
    </div>
    <div class="user">
        <div class="usergl">
            <span *ngIf="userName"> 铲屎官：<span> {{userName}}</span></span>
            <span *ngIf="!userName"> 铲屎官请登录</span>
        </div>
        <div class="qt">
            <span> ...</span>
        </div>
    </div>
</div>